name: Build
on:
  push:
    branches:
      - master
  workflow_dispatch:
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6.0.2

      - name: Setup Java
        uses: actions/setup-java@v5.2.0
        with:
          distribution: jetbrains
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5.0.1

      - name: build
        run: ./gradlew build

      - name: upload jar
        uses: actions/upload-artifact@v6
        with:
          path: build/libs/*.jar